.orders_tbl {
  width: 100%;
}
.mat-column-imgUrl,
.mat-column-orderNum,
.mat-column-type,
.mat-column-total,
.mat-column-waitress,
.mat-column-calories {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.thumbnail img {
  width: 25px;
  height: 25px;
}
